body {
    background-color: #588157;
    color: #dad7cd;
}
button {
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 25px;
}
h2 {
    margin-left: auto;
}
ul{
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    
}

#containerPlayer, #containerDealer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    
}

.containerScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playerScore, #dealerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#playerHits, #dealerHits {
    display: flex;
    align-self: flex-end;

}
.containerButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card, .hitCard {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 130px;
    height: 200px;
    background-color: #a3b18a;
    border-radius: 25px;
    
}
#dealerScore, #playerScore {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
#hit, #stand {
    display: flex;
    background-color: #3a5a40;
    color: #dad7cd;
    
}
#dealCards {
    background-color: #a3b18a;
    color: #344e41;
}
.bust {
    background-color: red;
}
.hiddenCard {
    background-color:black;
}
.loser {
    background-color: #e63946;
    color: #dad7cd;
}
.push {
    background-color: #344e41;
}
