body {
    background-color: purple;
}
button {
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    
}
.containerScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 130px;
    height: 200px;
    background-color: whitesmoke;
}
#dealerScore, #playerScore {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
#hit, #stand {
    display: flex;
    background-color: green;
}
.bust {
    background-color: red;
}
.hiddenCard {
    background-color:black;
}